<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <contextName>wisemapping</contextName>
    <jmxConfigurator/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CONTEXT_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archives/${CONTEXT_NAME}.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <maxHistory>366</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger: %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="${logback.loglevel:-WARN}">
        <appender-ref ref="FILE"/>
    </root>


    <logger name="com.wisemapping" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

</configuration>
